* {
    pointer-events: auto !important;
}

.overlay {
    display: none !important;
}
.sidebar {
    z-index: 10;
}

.main-wrapper {
    position: relative;
    z-index: 1;
}

.mobile-nav {
    z-index: 999;
}